<html>
    <head>
        <title>forms</title>
    <style>
        .M
        {
            margin-left: 100px;
        }
        .E
        {
            margin-left: 44px;
        }
        .ME
        {
            margin-left: 103px;
        }
    </style>
    </head>
    <body>
        <form onsubmit="noka()">
        <h1> User name and Password</h1><div>
        <label for="user">Username</label>
        <input type="text" id="user" class="M" required/></div>
        <div><br>
        <label for="Pass">Password</label>
        <input type="password" id="pass" class="ME">
    </div><br>
    <div>
        <label for="Pass1"> Confirm Password</label>
        <input type="password" id="pass1" class="E">
    </div><br>
         <div>
        <input type="submit" value="submit">
        <input type="reset">
         </div><br>

        </form>
        <!-- <a href="frorms2.html">Click hear to go to the next page</a> -->
         <script>
            function noka(){
            const pw=document.getElementById("pass").value;
            const pw1=document.getElementById("pass1").value;
            if(pw.length<8)
            {
                alert("pass short");
            }
            else if(pw!=pw1)
            {
                alert("Pass mismatch");
            }
            else
            {
                alert("pass is correct");
               // return true;
            }
            }

         </script>
    </body>
</html>