{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/logo-removebg-preview.png' %}" type="">

  <title> Enhanced Security Cam </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="{% static 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap' %}" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' %}" />

  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="{% static 'images/hero-bg.png' %}" alt="">
      </div>
    </div>
    {% include 'header.html'%}
  <!-- team section -->
  <section class="team_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          Our <span> Team</span>
        </h2>
      </div>

      <div class="team_container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/devnath.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Devnath P
                </h5>
                <p>
                  Head of Team
                </p>
              </div>
              <div class="social_box">
                <a href="tel:+919061159287">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </a>
                <a href="mailto:devnathdivya6@gmail.com">
                  <i class="fa fa-envalop" aria-hidden="true"></i>
                </a>
                <a href="https://wa.me/9061159287?text=Hello%20there!">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/p_devnath/">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/Victor.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Victor George
                </h5>
                <p>
                  Designer
                </p>
              </div>
              <div class="social_box">
                <a href="tel:+918891790981">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </a>
                <a href="mailto:victorshibu10@gmail.com">
                  <i class="fa fa-envalop" aria-hidden="true"></i>
                </a>
                <a href="https://wa.me/8891790981?text=Hello%20there!">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/__victor__george__/">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/surag.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Surag PS
                </h5>
                <p>
                  Tester
                </p>
              </div>
              <div class="social_box">
                <a href="tel:+917593988215">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </a>
                <a href="mailto:suragpsanthosh@gmail.com">
                  <i class="fa fa-envalop" aria-hidden="true"></i>
                </a>
                <a href="https://wa.me/7593988215?text=Hello%20there!">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/_surag_ps_/">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/joshua.jpg' %}" class="img1" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Joshua Isaac
                </h5>
                <p>
                  Developer
                </p>
              </div>
              <div class="social_box">
                <a href="tel:+917558996793">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </a>
                <a href="mailto:isaacjoshua59@gmail.com">
                  <i class="fa fa-envalop" aria-hidden="true"></i>
                </a>
                <a href="https://wa.me/7558996793?text=Hello%20there!">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end team section -->

  {% include 'footer.html'%}

</body>

</html>